{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Recommended Friends' %}{% endblock %}

{% block head %}
  <link href="{% static 'css/network.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
  <div class="page-header">
    <h1>Recommended Friends</h1>
  </div>
  <div class="users">

    <div class="row">
      {% for user in recommended %}
        {% if user not in current_user.profile.follows.all and user != current_user.profile %}
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <img src="{{ user.get_picture }}" style="width:20px">
              <a href="{% url 'profile' user.user %}">{{ user.get_screen_name }}</a>
                <a class="right" href="{% url 'profile' user.user %}?add={{ user.id }}">Follow</a>
            </div>
            <div class="panel-body">
              {% if user.job_title %}
                <p><strong>{% trans 'Job Title' %}:</strong> {{ user.job_title }}</p>
              {% endif %}
              <p><strong>{% trans 'Username' %}: </strong> {{ user.user }}</p>
              {% if user.location %}
                <p><strong>{% trans 'Location' %}:</strong> {{ user.location }}</p>
              {% endif %}
              {% if user.url %}
                <p><strong>{% trans 'Url' %}:</strong> {{ user.get_url }}</p>
              {% endif %}
            </div>
          </div>
        </div>




        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
          {% endif %}
    {% empty %}
       <div class="col-md-12">
    <h4>Sorry, there is no more recommended friends for you.</h4>
            <h4>Try to <a href="{% url 'search' %}">search</a> manually</h4>
        </div>
      {% endfor %}


    </div>

    <div class="row">
      <div class="col-md-12">
        {% include 'paginator.html' with paginator=recommended %}
      </div>
    </div>

  </div>
{% endblock main %}