{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block title %}{% trans 'Network' %}{% endblock %}

{% block head %}
  <link href="{% static 'css/network.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
  <div class="page-header">
    <h1>Friends</h1>
  </div>
  <div class="users">

    <div class="row">
      {% for user in friends %}
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
            <table style="width: 100%;">
            <tr><td style="width: 25px;">
        {% thumbnail user.picture "20x20" crop="center" as im %}
            <style>
            .circular2 {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            background: url({{ im.url }}) no-repeat;
            }
            </style>
            <div class="circular2"></div>
            {% empty %}
            <img src="{{ user.get_picture }}" style="width:20px">
        {% endthumbnail %}
            </td>
            <td>
              <a href="{% url 'profile' user.user %}">{{ user.get_screen_name }}</a>
                 <a class="right" href="{% url 'profile' user.user %}?remove={{ user.id }}">Unfollow</a>
            </td></tr></table>
            </div>
            <div class="panel-body">
              {% if user.job_title %}
                <p><strong>{% trans 'Job Title' %}:</strong> {{ user.job_title }}</p>
              {% endif %}
              <p><strong>{% trans 'Username' %}: </strong> {{ user.user }}</p>
              {% if user.location %}
                <p><strong>{% trans 'Location' %}:</strong> {{ user.location }}</p>
              {% endif %}
              {% if user.url %}
                <p><strong>{% trans 'Url' %}:</strong> {{ user.get_url }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-md-12">
        {% include 'paginator.html' with paginator=friends %}
      </div>
    </div>

  </div>
{% endblock main %}