{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block title %}{{ page_user.profile.get_screen_name }}{% endblock %}

{% block head %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
    <link href="{% static 'css/feeds.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
    <script src="{% static 'js/feeds.js' %}"></script>
{% endblock head %}

{% block main %}
    <div class="page-header">
        <h1>{{ page_user.profile.get_screen_name }} {% if page_user.id == current_user.id %}
            <small>(It's you)</small>{% else %}<small>({{ page_user.username }})</small>{% endif %}</h1>
    </div>
    <div class="profile">
        <div class="row">
            <div class="col-md-3 user-profile">
        {% thumbnail page_user.profile.picture "150x150" crop="center" as im %}
            <style>
            .circular {
            width: 150px;
            height: 150px;
            border-radius: 75px;
            -webkit-border-radius: 75px;
            -moz-border-radius: 75px;
            background: url({{ im.url }}) no-repeat;
            }
            </style>
            <div class="circular"></div><br>

            {% empty %}
            <img src="{{ page_user.profile.get_picture }}" style="width: 200px; border-radius: 5px; margin-bottom: 1em;">
        {% endthumbnail %}
            {% if page_user.profile.picture_update_dt %}
            <br><br>
            Last update profile image: {{ page_user.profile.picture_update_dt|date:"d-m-Y h:i:s" }}<br>
            {% endif %}


{#                <img src="{{ page_user.profile.get_picture }}" class="picture">#}
                <ul>
                    {% if page_user.profile.job_title %}
                        <li><span class="glyphicon glyphicon-briefcase"></span> {{ page_user.profile.job_title }}</li>
                    {% endif %}
                    {% if page_user.profile.location %}
                        <li><span class="glyphicon glyphicon-map-marker"></span> {{ page_user.profile.location }}</li>
                    {% endif %}
                    {% if page_user.profile.url %}
                        <li> <a href="{{ page_user.profile.get_url }}" target="_blank"><span class="glyphicon glyphicon-globe"></span> {{ page_user.profile.get_url }}</a>
                        </li>
                    {% endif %}
                {% if current_user.id != page_user.id %}
                    {% if page_user.profile in follows %}
                    <li><a href="?remove={{ page_user.profile.id }}" class="alert-link"><span class="glyphicon glyphicon-user"></span> Unfollow</a></li>
                        {% else %}
                            <li><a href="?add={{ page_user.profile.id }}">Follow</a></li>
                    {% endif %}
                {% endif %}
                </ul>
            </div>
            <div class="col-md-9">
                <h4>{% trans 'Last posts by' %} {{ page_user.profile.get_screen_name }}</h4>
                <div class="stream-update">
                    <a href="#"><span class="new-posts"></span> new posts</a>
                </div>
                <ul class="stream">
                    {% for feed in feeds %}
                        {% include 'feeds/partial_feed.html' with feed=feed %}
                    {% endfor %}
                </ul>
                <div class="load">
                    <img src="{% static 'img/loading.gif' %}">
                </div>
                <form method="get" action="{% url 'load' %}" id="load_feed" autocomplete="off">
                    <input type="hidden" name="feed_source" id="feed_source" value="{{ page_user.pk }}">
                    <input type="hidden" name="from_feed" value="{{ from_feed }}">
                    <input type="hidden" name="page" value="{{ page }}">
                </form>
            </div>
        </div>
    </div>
{% endblock main %}
