{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Robin's Nest{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link href="{% static 'css/bootstrap.css' %}?v=1" rel="stylesheet">
    <link href="{% static 'css/social.css' %}?v=1" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'js/social.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Robin's nest</a>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">

                        <li><a  href="{% url 'feeds' %}">{% trans 'Timeline' %}</a></li>
                        <li><a href="{% url 'profile' user.username %}">{% trans 'Profile' %}</a></li>
                        <li><a href="{% url 'friends' %}">{% trans "Friends" %}</a></li>
                        <li><a href="{% url 'recommended' %}">{% trans 'Recommended friends' %}</a></li>
                        <li><a href="{% url 'network' %}">{% trans 'Members' %}</a></li>


                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% if not hide_search %}
                                <form class="navbar-form navbar-left" role="search" action="{% url 'search' %}">
                                    <div class="input-group" style="width:210px">
                                        <input type="text" class="form-control" name="q" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search bt-search"></i>
                      </button>
                    </span>
                                    </div>
                                </form>
                            {% endif %}
                        </li>
                        <li>
                            <a href="#" id="notifications" data-container="body" data-toggle="popover"
                               data-placement="bottom" title="Notifications"><span
                                    class="glyphicon glyphicon-bell"></span>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown">{{ user.profile.get_screen_name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'inbox' %}"><span class="badge pull-right"
                                                                      id="unread-count">0</span>Inbox</a></li>
                                <li><a href="{% url 'settings' %}">{% trans 'Account Settings' %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            {% block main %}
            {% endblock main %}
        </div>
    </main>
    <script src="{% static 'js/notifications.js' %}"></script>
    <script src="{% static 'js/check_messages.js' %}"></script>
{% endblock body %}
<script src="{% static 'js/ga.js' %}"></script>
</body>
</html>