@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
    padding-top: 70px;
}

header .navbar-brand {
    font-size: 1.4em;
    font-weight: 200;
    font-family: "Audiowide", cursive;
}

main .container {

}

.page-header {
    margin: 0;
}

.page-header h1 {
    margin: 0;
    font-weight: 100;
    font-size: 2em;
}

.no-data {
    text-align: center;
    padding: 1em 0;
}

#notifications {
    font-size: 1.5em;

}

#notifications.new-notifications {
    color: #428bca;
}

.popover {
    max-width: 350px;
    width: 350px;
}

.popover ul {
    padding: 0;
    margin: 0;
}

.popover ul li {
    list-style: none;
    border-bottom: 1px solid #eeeeee;
    padding: .4em 0;
}

.popover ul li:last-child {
    border-bottom: none;
}

.popover ul li .user-picture {
    width: 45px;
    float: left;
}

.popover ul li p {
    font-size: .9em;
    padding: 0 0 0 .6em;
    margin-left: 45px;
    margin-bottom: 0;
}

.markdown {
    margin-bottom: .8em;
}

img.user-pic {
    width: 25px;
    border-radius: 100px;
}