{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
    <link href="{% static 'css/feeds.css' %}?v=1" rel="stylesheet">
    <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
    <script src="{% static 'js/feeds.js' %}?v=1"></script>
{% endblock head %}

{% block main %}
    <div class="row">
        <div class="col-md-3">
            <div class="page-header">
                <h1>Members
                </h1>
            </div>

            <div class="panel panel-default panel-feed">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left panel-title-users">Your following</h3>
                    <a class="btn btn-primary btn-sm pull-right" href="{% url 'friends' %}" role="button">Show all</a>
                    <div class="clearfix"></div>
                </div>
                <ul class="friend list-group">
                    {% for friend in friends %}
                        {% include 'feeds/partial_friends.html' with friend=friend %}
                    {% endfor %}
                </ul>
            </div>

            <div class="panel panel-default panel-feed">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left panel-title-users">You may know</h3>
                    <a class="btn btn-primary btn-sm pull-right" href="{% url 'recommended' %}" role="button">Show
                        all</a>
                    <div class="clearfix"></div>
                </div>
                <ul class="friend list-group">
                    {% for user in recommended %}
                        {% include 'feeds/partial_friends_recomendation.html' with user=user %}
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="col-md-9">

            <div class="page-header">

                <h1>{% trans 'Posts by all members' %}</h1>
            </div>

            <div class="panel panel-default panel-feed">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left panel-title-users">{% trans 'Latest posts' %}</h3>
                    <button type="button" class="btn btn-primary pull-right btn-compose btn-sm"
                            title="{% trans 'Press Ctrl + P to compose' %}">
                        <span class="glyphicon glyphicon-share-alt"></span> {% trans 'Add new post' %}
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">

                    <div class="compose">
                        <h2>{% trans "Compose a new post" %}</h2>
                        <form role="form" id="compose-form">
                            {% csrf_token %}
                            <input type="hidden" name="last_feed">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" name="post"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-post">
                                    <span class="glyphicon glyphicon-send"></span> {% trans 'Post' %}
                                </button>
                                <button type="button"
                                        class="btn btn-default btn-cancel-compose">{% trans 'Cancel' %}</button>
                                <span class="help-block help-count pull-right">255</span>
                            </div>
                        </form>
                    </div>
                    <div class="stream-update">
                        <a href="#"><span class="new-posts"></span> {% trans 'new posts' %}</a>
                    </div>
                    <ul class="stream">
                        {% for feed in feeds %}
                            {% include 'feeds/partial_feed.html' with feed=feed %}
                        {% endfor %}
                    </ul>
                    <div class="load">
                        <img src="{% static 'img/loading.gif' %}">
                    </div>
                    <form method="get" action="{% url 'load' %}" id="load_feed" autocomplete="off">
                        <input type="hidden" name="feed_source" id="feed_source" value="all">
                        <input type="hidden" name="from_feed" value="{{ from_feed }}">
                        <input type="hidden" name="page" value="{{ page }}">
                    </form>

                </div>
            </div>
        </div>


    </div>


{% endblock main %}