<li user-id="{{ user.pk }}" class="list-group-item">
    <div class="feed-container">
    <a href="{% url 'profile' user. %}"><img src="{{ user.get_picture }}" class="user"></a>
    <div class="post">
        <a href="{% url 'profile' user.user %}">{{ user.get_screen_name }}</a>
            <a class="pull-right" href="{% url 'profile' user.user %}?add={{ user.id }}">Follow</a>
        </div>
    </div>
</li>
