<li friend-id="{{ friend.pk }}" class="list-group-item">
    <div class="feed-container">
    <a href="{% url 'profile' friend.user %}"><img src="{{ friend.get_picture }}" class="user"></a>
    <div class="post">
            <h3><a href="{% url 'profile' friend.user %}">{{ friend.get_screen_name }}</a></h3>
        </div>
    </div>
</li>